@import '~bootstrap/dist/css/bootstrap.min.css';
* {
  font-size: 100%;
  font-family: Arial;
}

.whole-continaer {
  position: relative;
}

#formFile {
  line-height: 2.5;
}

h1 {
  font-size: 35px;
  font-weight: bolder;
  font-family: Lato;
}
p {
  font-family: Lato;
  /* border: #143d59 solid 1px; */
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.order-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.badge-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.same-badge-box{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.same-badge{
  flex-grow: 2;
}

.key-name-list{
  margin-left: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}

.edit-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #f4b41a;
  font-weight: 800;
  color: #143d59;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.order-box:last-child {
  border: none;
}

.edit-box:last-child {
  border: none;
}

.edit-list.cdk-drop-list-dragging .eidt-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.advance-title{
  height: 128px;
  text-align: center;
}

.displayed-edit-btn {
  border: solid 1px rgb(83, 64, 255);
  background-color: rgb(83, 64, 255);
}

#displayed-edit-btn {
  border: solid 1px rgb(83, 64, 255);
  background-color: rgb(83, 64, 255);
}

#displayed-delete-btn {
  border: solid 1px #ff5340;
  background-color: #ff5340;
}

#displayed-delete-btn:hover {
  background-color: #f73620;
  transition: all 0.2s ease-in-out;
  transform: scale(1.09);
}

.displayed-edit-btn:hover {
  background-color: #1800f3;
  transition: all 0.2s ease-in-out;
  transform: scale(1.09);
}

.displayed-edit-btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(24, 0, 243 / 50%) !important;
}

.displayed-edit-btn:active {
  box-shadow: 0 0 0 0.25rem rgb(24, 0, 243 / 50%) !important;
}

#displayed-edit-btn:hover {
  background-color: #1800f3;
  transition: all 0.2s ease-in-out;
  transform: scale(1.09);
}

#displayed-edit-btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(24, 0, 243 / 50%) !important;
}

#displayed-edit-btn:active {
  box-shadow: 0 0 0 0.25rem rgb(24, 0, 243 / 50%) !important;
}

.control-accpet-box, .control-headers-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  /* flex-direction: row; */
}

.control-type-box{
  /*display: flex;*/
  /*justify-content: center;*/
  /*text-align: center;*/
  margin: 20px 0;
}

.control-title {
  margin-right: 10px;
  /* line-height: 26px; */
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  padding: 1px;
}

.form-label {
  margin-top: 20px;
  font-size: 26px;
  font-weight: bolder;
}

.export-name {
  font-weight: bold;
  padding: 0 10px;
  color: #000508;
}

.export-file-name-box {
  border: #143d59 solid 1px;
  border-radius: 5px;
  padding: 15px;
  margin: 5px;
}

#edit-export {
  line-height: 1;
}

.input-box {
  border: #143d59 solid 1px;
  border-radius: 5px;
  padding: 30px;
  margin: 5px;
}

.line {
  border-top: #143d59 solid 1px;
  margin: 50px 0;
}

.add-icon {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
  cursor: pointer;
  /* cursor: crosshair; */
  text-align: center;
}

.add-input {
  line-height: 38px;
}

#add-last-box {
  line-height: 38px;
}

.list-box {
  width: 100%;
}

.displayed-list-container {
  margin: 20px;
}

.btn-box {
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  /* margin-bottom: 5px; */
  padding: 20px 10px 10px 5px;
  border: solid 1px rgb(244, 246, 248);
  background-color: rgb(244, 246, 248);
  width: 400px;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  gap: 10px;
}

#arrow-return-left-icon {
  cursor: pointer;
}
#arrow-return-left-icon:hover {
  background-color: #b1b1b1;
}

.edit-container {
  display: flex;
  justify-content: center;
  animation: fadeIn;
  animation-duration: 0.8s;
}

.displayed-list {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: fadeIn;
  animation-duration: 0.8s;
}

.editing-wrapper {
}

.editing-btn-box {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  /* margin-bottom: 5px; */
  padding: 20px 10px 10px 5px;
  border: solid 1px rgb(244, 246, 248);
  background-color: rgb(244, 246, 248);
  width: 400px;
  max-width: 100%;
  border-radius: 5px 5px 0 0;
}

.order-list,
.edit-list {
  width: 400px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.adding-mode {
  border: #143d59 solid 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}

.footer {
  margin-top: 30px;
  border-top: rgba(0, 0, 0, 0.1) solid 1px;
  height: 20vh;
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.createdby {
  margin-top: 18vh;
  color: #a2a5a7;
  font-size: 10px;
}

.excel-img-box {
  margin-right: 10px;
  display: inline;
}

#title {
  display: inline;
}

.form-group{
  font-weight: bolder;
}

.excel-output {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
  margin-top: 20px;
}

.download-area{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 20px;
  margin-top: 20px;
}

#download-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.excel-icon {
  margin: 15px;
  width: 140px;
  height: 140px;
}

.download-link {
  cursor: pointer;
}

.download-link:hover {
  text-decoration: underline dotted;
}

.download-name {
  display: block;
  text-align: center;
}

.show-download-file {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  color: rgb(65, 65, 65);
}

.show-download-file-title {
  margin-top: 10px;
  color: #999;
  cursor: pointer;
}

#down-icon {
  cursor: pointer;
}

.create-list-container {
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0.7;
  color: #231f20;
  z-index: 10;
}

.create-icon {
  /* display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px; */
  /* position: relative; */
}

#unblank-icon {
  cursor: pointer;
}

#blank-icon {
  cursor: pointer;
}

.file-icon-box {
  position: absolute;
  bottom: 60px;
  right: -18px;
  animation: fadeInUp;
  animation-duration: 0.3s;
}

.file-icon {
  display: flex;
}

.adding-icon {
  cursor: pointer;
}

.adding-icon:hover {
}

.create-list-container:hover::before {
  position: absolute;
  right: 55px;
  bottom: 10px;
  width: 24rem;
  font-size: 1.5rem;
  font-weight: bolder;
  content: 'Create a new list of field name';
  animation: fadeIn;
  animation-duration: 2s;
  z-index: 10;
}

.create-list-title {
  visibility: hidden;
}

.for-sticky-here {
  position: relative;
}

.control-layout {
  display: flex;
  flex-direction: column;
}

.layout-radio-btn {
}

.btn-check {
  background-color: white;
}

.layout-btn-box {
  display: flex;
  flex-direction: row;
}

.view-detail {
  width: 35px;
  margin: 0;
  padding: 0;
}

.view {
  font-size: 0.65em;
  font-weight: 500;
  cursor: pointer;
  background-color: #4caf50;
  width: 100%;
  padding: 0.15em 0.35em;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: #fff solid 0.5px;
}

.for-animation {
  animation: flipInX;
  animation-duration: 2s;
}

.layout-detail-container {
  height: 200px;
  overflow: auto;
}

.layout-line {
  border: #000508 solid 1px;
  background-color: #1800f3;
  width: 80%;
  position: absolute;
  right: 0;
}

.layout-detail-box {
}

.layout-list-name {
  position: absolute;
  left: 0;
  top: 40px;
  display: flex;
  flex-wrap: wrap;
}

.list-number {
  margin: 0 0 0 10px;
  padding: 5px 5px 5px 0;
  font-size: 1.5rem;
  font-weight: bolder;
}

.list-name-title{
  flex-grow: 2;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: bolder;
}

.empty-red {
  font-weight: bolder;
  font-size: 1.2rem;
}

.cell {
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 10px;
  display: inline-block;
  margin: 3px 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.reset-everything-box{
  margin-top: 200px;

}
.reset-title{

}
.reset-btn-box{
  border: #cf222e solid 1px;
  border-radius: 5px;
  padding: 50px;
}

#reset-btn{
  background: #f6f8fa;
  color: #cf222e;
  border: 1px solid hsl(210deg, 18%, 87%);
  font-size: 20px;
  font-weight: bolder;
  padding: 15px 26px;
  line-height: 20px;
}

#reset-btn:focus{
  border: 1px solid hsl(210deg, 18%, 87%);
}

#reset-btn:hover{
  background: #cf222e;
  color: #f6f8fa;
}

.list-name-box{
  display: flex;
  width: 400px;
}

#basic-addon2{
  cursor: pointer;
}

.layout-title{
  font-weight: bolder;
}

.advance-show-box{
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 6em;
}

.advance-btn-down-icon{
  cursor: pointer;
}

.advance-container{
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 6em;

}

.bi-chevron-down:hover{
  animation: bounce;
  animation-duration: 2s;
}

/*#replacement-bi-x-lg{*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 10px;*/
/*  cursor: pointer;*/
/*  color: #404042;*/
/*}*/

/*.bi-x-lg{*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 10px;*/
/*  cursor: pointer;*/
/*  color: #404042;*/
/*}*/

/*.bi-x-lg:hover{*/
/*  color: #000000;*/
/*  transform: scale(1.5);*/
/*}*/

/*.bi-x-lg:active{*/
/*  transform: scale(0.9);*/
/*}*/

/*#replacement-bi-pencil-square{*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 10px;*/
/*  cursor: pointer;*/
/*  color: #404042;*/
/*}*/

.advance-edit-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  color: #404042;
}

.advance-columnKey-edit-btn,
.advance-replaceKey-edit-btn,
.advance-rowKey-edit-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  color: #404042;
}

.advance-editing-btn-box{
}

.advance-check-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 41px;
  cursor: pointer;
  color: #404042;
}

.advance-columnKey-check-btn,
.advance-replaceKey-check-btn,
.advance-rowKey-check-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 41px;
  cursor: pointer;
  color: #404042;
}

.advance-x-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #404042;
}

.advance-x-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-x-btn:active{
  transform: scale(0.9);
}

.advance-columnKey-x-btn,
.advance-replaceKey-x-btn,
.advance-rowKey-x-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #404042;
}

.advance-columnKey-x-btn:hover,
.advance-replaceKey-x-btn:hover,
.advance-rowKey-x-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-columnKey-x-btn:active,
.advance-replaceKey-x-btn:active,
.advance-rowKey-x-btn:active{
  transform: scale(0.9);
}

.bi-pencil-square{
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
  /*cursor: pointer;*/
  /*color: #404042;*/
}

.advance-edit-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-columnKey-edit-btn:hover,
.advance-replaceKey-edit-btn:hover,
.advance-rowKey-edit-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-check-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-columnKey-check-btn:hover,
.advance-replaceKey-check-btn:hover,
.advance-rowKey-check-btn:hover{
  color: #000000;
  transform: scale(1.5);
}

.advance-edit-btn:active{
  transform: scale(0.9);
}

.advance-columnKey-edit-btn:active,
.advance-replaceKey-edit-btn:active,
.advance-rowKey-edit-btn:active{
  transform: scale(0.9);
}

.advance-check-btn:active{
  transform: scale(0.9);
}

.advance-columnKey-check-btn:active,
.advance-replaceKey-check-btn:active,
.advance-rowKey-check-btn:active{
  transform: scale(0.9);
}

.advance-trash-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #ee2a3e;
}

.advance-trash-btn:hover{
  color: #f80318;
  transform: scale(1.5);
}

.advance-trash-btn:active{
  transform: scale(0.9);
}

.advance-columnKey-trash-btn,
.advance-replaceKey-trash-btn,
.advance-rowKey-trash-btn{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  color: #ee2a3e;
}

.advance-columnKey-trash-btn:hover,
.advance-replaceKey-trash-btn:hover,
.advance-rowKey-trash-btn:hover{
  color: #f80318;
  transform: scale(1.5);
}

.advance-columnKey-trash-btn:active,
.advance-replaceKey-trash-btn:active,
.advance-rowKey-trash-btn:active{
  transform: scale(0.9);
}

/*#replacement-bi-check-lg{*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 41px;*/
/*  cursor: pointer;*/
/*  color: #404042;*/
/*}*/

/*.bi-check-lg{*/
/*  position: absolute;*/
/*  top: 10px;*/
/*  right: 41px;*/
/*  cursor: pointer;*/
/*  color: #404042;*/
/*}*/

/*.bi-check-lg:hover{*/
/*  color: #000000;*/
/*  transform: scale(1.5);*/
/*}*/

/*.bi-check-lg:active{*/
/*  transform: scale(0.9);*/
/*}*/

/*#replacement-bi-trash-fill{*/
/*  position: absolute;*/
/*  bottom: 10px;*/
/*  right: 10px;*/
/*  cursor: pointer;*/
/*  color: #ee2a3e;*/
/*}*/

/*.bi-trash-fill{*/
/*  position: absolute;*/
/*  bottom: 10px;*/
/*  right: 10px;*/
/*  cursor: pointer;*/
/*  color: #ee2a3e;*/
/*}*/

/*.bi-trash-fill:hover{*/
/*  color: #f80318;*/
/*  transform: scale(1.5);*/
/*}*/

/*.bi-trash-fill:active{*/
/*  transform: scale(0.9);*/
/*}*/

.advance-edit-btn{

}

.advance-btn-up-icon{
  cursor: pointer;
}

.advance-setting-box{
  position: relative;
  /*z-index: -1;*/
}

.advance-replacement-name-box{
  padding: 30px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.advance-replacement-list{

}

.advance-replacement-list-name{
  text-align: center;
}

.advance-replacement-list-box{
  display: flex;
  text-align: center;
  position: relative;
  /*min-height: 132px;*/
  /*max-width: 300px;*/
  /*overflow-wrap: break-word;*/
  /*width: 300px;*/
  /*z-index: 1;*/
}

#flexSwitchCheckChecked{
  cursor: pointer;
}

.advance-radio{
  position: absolute;
  opacity: 0;
}

.advance-label{
  border: 2px solid #d2d2d7;
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: bolder;
  letter-spacing: -.022em;
  /*width: 100%;*/
  height: 120px;
  /*width: 300px;*/
  /*height: 300px;*/
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 45px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 4.88235rem;
}

.advance-label:hover{
  border-color: #86868b;
}

.advance-radio:checked ~ .advance-label{
  border-color: #0071e3;
}

.advance-radio:focus ~ .advance-label{
  /*outline: 4px solid rgba(0,125,250,.6);*/
  /*outline-offset: 1px;*/
  /*border-radius: 12px;*/
  box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);

}

.advance-index{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: #d2d2d7;
  z-index: -1;
}

.advance-label:hover ~ .advance-index{
  color: #86868b;
}

.advance-radio:checked ~ .advance-index{
  color: #0071e3;
}

.advance-display-child-box{
  width: 95vw;
  padding: 30px;
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-evenly;*/
  align-items: baseline;
  gap: 20px 30px;
}

/*.advance-display-child-move-box{*/
/*  width: 100vw;*/
/*}*/

.advance-columnKey{
  /*border-right: 1px solid #000508;*/
  display: flex;
  flex-direction: column;
  gap: 30px 10px;
  /*width: calc((100vw - 110px) / 3);*/
  width: 31%;
  height: 100%;
}

.advance-replaceKey{
  /*border-right: 1px solid #000508;*/
  display: flex;
  flex-direction: column;
  gap: 30px 10px;
  /*width: calc((100vw - 110px) / 3);*/
  width: 31%;
  height: 100%;
}

.advance-replaceAll{
  display: flex;
  flex-direction: column;
  gap: 30px 10px;
  /*width: calc((100vw - 110px) / 3);*/
  width: 31%;
  height: 100%;

}

.advance-radio{
  position: absolute;
  opacity: 0;
}

.advance-columnKey-cell,
.advance-replaceKey-cell,
.advance-rowKey-cell{

}

.advance-columnKey-radio-group,
.advance-replaceKey-radio-group,
.advance-rowKey-radio-group{
  position: relative;
}

.advance-columnKey-editing-btn-box,
.advance-replaceKey-editing-btn-box,
.advance-rowKey-editing-btn-box{

}

.advance-columnKey-radio,
.advance-replaceKey-radio,
.advance-rowKey-radio{
  position: absolute;
  opacity: 0;
}

.advance-columnKey-label,
.advance-replaceKey-label,
.advance-rowKey-label{
  border: 2px solid #d2d2d7;
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: bolder;
  letter-spacing: -.022em;
  width: 100%;
  height: auto;
  /*width: 300px;*/
  /*height: 300px;*/
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0 16px;
  padding: 45px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 4.88235rem;
  /*max-width: 200px;*/
}

.non-edit-box,
.editing-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px 16px;
  /*flex-wrap: wrap;*/
}

.non-edit-box{
}

.editing-box{

}

.null-box-btn{
  display: flex;
}

.from-label{
  /*margin-top: 5px;*/
}

.to-label{
  /*margin-top: 5px;*/
}

.exchange-btn-box{
  display: flex;
  color: #6c757d;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 5px 0 -15px 0;
}

.exchange-btn{
  cursor: pointer;

  /*font-weight: bolder;*/
  /*background-color: transparent;*/
  /*border: 1px solid transparent;*/
  /*padding: .375rem .75rem;*/
  /*font-size: 1rem;*/
  /*border-radius: 50%;*/
  /*display: inline-block;*/
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  padding: 0px;
  border-radius: 50%;
}

.exchange-btn:hover{
  background-color: #f5f5f5;
}

.exchange-btn:active{
  transform: scale(0.9);
  background-color: #e1e1e1;
}

.editing-input-label{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
}

.advance-columnKey-index,
.advance-replaceKey-index,
.advance-rowKey-index{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  font-weight: bolder;
  color: #d2d2d7;
  /*z-index: -2;*/
}

.advance-columnKey-label:hover,
.advance-replaceKey-label:hover,
.advance-rowKey-label:hover{
  border-color: #86868b;
}

.advance-columnKey-radio:checked ~ .advance-columnKey-label,
.advance-replaceKey-radio:checked ~ .advance-replaceKey-label,
.advance-rowKey-radio:checked ~ .advance-rowKey-label{
  border-color: #0071e3;
}

.advance-columnKey-radio:focus ~ .advance-columnKey-label,
.advance-replaceKey-radio:focus ~ .advance-replaceKey-label,
.advance-rowKey-radio:focus ~ .advance-rowKey-label{
  /*outline: 4px solid rgba(0,125,250,.6);*/
  /*outline-offset: 1px;*/
  /*border-radius: 12px;*/
  box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);

}

.advance-columnKey-label:hover ~ .advance-columnKey-index,
.advance-replaceKey-label:hover ~ .advance-replaceKey-index,
.advance-rowKey-label:hover ~ .advance-rowKey-index{
  color: #86868b;
}

.advance-columnKey-radio:checked ~ .advance-columnKey-index,
.advance-replaceKey-radio:checked ~ .advance-replaceKey-index,
.advance-rowKey-radio:checked ~ .advance-rowKey-index{
  color: #0071e3;
}

/*#columnKey-bi-check-lg{*/

/*}*/

/*#columnKey-bi-x-lg{*/

/*}*/

/*#columnKey-bi-trash-fill{*/

/*}*/

#columnKey-bi-pencil-square{
  /*position: absolute;*/
  /*top: 10px;*/
  /*right: 10px;*/
  /*cursor: pointer;*/
  /*color: #404042;*/
}

/*.input-group-prepend{*/
/*  height: 48px;*/
/*}*/

.input-group-text:hover{
  background-color: #b1b1b1;
}

.input-group-text:active{
  transform: scale(0.95);
}

.input-group{
  height: 100%;
}

.advance-replacement-add-btn{
  display: flex;
  justify-content: center;
}

.advance-replacement-add-btn:hover{
}

.advance-replacement-add-btn:active{
}

.advance-radio-add-btn{

}

.advance-add-label{
  height: 100%;
  /*border-radius: 50%;*/
  padding: 41.8px;
  cursor: pointer;
  /*margin: 0 16px;*/
  border: 2px solid #d2d2d7;
  color: #1d1d1f;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: bolder;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  min-height: 4.88235rem;
}

.advance-add-label:hover{
  background-color: #d2d2d7;
  color: #f6f8fa;
  border-color: #86868b;
}

.advance-add-label:active{
  transform: scale(0.9);
}

.null-badge{
  margin: auto;
  font-size: 22px;
}

.c-title-label, .r-title-label{
  font-style: Italic;
  text-decoration:underline;
  color: #6c757d;
}

.c-name-box, .r-name-box{
  display: flex;
  flex-direction: column;
  gap: 3px 0;
}

.m-t-10{
  margin-top: 10px;
}

.advance-create-title{
  text-align: left;
}

.advance-display-order-box{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 0 50px 0;
}

.order-exchange-icon-wrapper{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
}

.order-exchange-icon0, .order-exchange-icon1, .order-exchange-icon2{
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.order-exchange-icon0{
  left: calc(50% - (32px / 2));
}

.order-exchange-icon1{
  left: calc((100vw / 2) - 32px - (103.56px / 2) - 50px);
}

.order-exchange-icon2{
  left: calc((100vw / 2) + (103.56px / 2) - (32px / 2));
}

.order-exchange-icon1:active, .order-exchange-icon2:active{
  transform: scale(0.9);
}

.advance-order-drop-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 100px;
}

.advance-order-cell{
  padding: 45px;
  border: 1px solid #86868b;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 1;
  cursor: move;
}

.advance-custom-placeholder{
  background: #ccc;
  border: dotted 3px #999;
  padding: 45px;
  min-height: 110px;
  min-width: 103.56px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.advance-order-title{
  font-weight: bolder;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media only screen and (max-width: 600px) {
  .displayed-list-container {
    width: 100%;
  }
}
