.search-box{
  position: absolute;
  background-color: white;
  border: 1px solid #ced4da;
  list-style:none;
  padding:0;
  margin:0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  overflow: auto;
  text-align: left;
  width: calc(((100vw - 70px - 40px) / 4) - 45px - 45px - 8px - 8px);
  max-height: 300px;
  z-index: 20;
}
.search-item{
  padding: 5px;
  cursor: pointer;
}
.search-item:hover{
  background-color: #eee;
}
.item-word{
  word-break: break-word;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* For Mobile */
@media screen and (max-width: 540px) {
  .search-box{
    width: calc(100vw - 8px - 8px - 45px - 45px - 20px - 20px - 2px - 2px - 17.2px);
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .search-box{
    width: calc(100vw - 8px - 8px - 45px - 45px - 20px - 20px - 2px - 2px - 17.2px);
  }
}

@media screen and (min-width: 780px) and (max-width: 980px) {

}

@media screen and (min-width: 980px) and (max-width: 1100px) {

}
